clouds:
  {{ occ_profile_name }}:
    auth:
      auth_url: {{ occ_auth_url }}
      username: {{ occ_username }}
      password: {{ occ_password }}
      project_name: {{ occ_project_name }}
      project_domain_name: {{ occ_project_domain_name }}
      user_domain_name: {{ occ_user_domain_name }}
    identity_api_version: "3"
    region_name: {{ occ_region_name }}
