"dnszones": {
  "{{ zone_name }}": {
    "zone_description": "Ansible generated DNS Zone",
    "zone_type": "{{ zone_type }}",
    "zone_email": "{{ zone_email }}",
    "zone_ttl": "{{ zone_ttl }}"
  }
},
"dnszonerecords": {
  "{{ zone_name }}": [{% for record in zone_data.stdout_lines %}
{% set record_clean = record | regex_replace('(\\s+)', ';')  %}
{% set pattern = "^(.*);(.*);(.*);(.*);(.*)$" %}
{% set fqdn = record_clean | regex_replace(pattern, "\\1" ) %}
{% set ttl = record_clean | regex_replace(pattern, "\\2" ) %}
{% set rtyp = record_clean | regex_replace(pattern, "\\4" ) %}
{% set value = record_clean | regex_replace(pattern, "\\5" ) %}
{% if loop.last %}
"{{ fqdn }};;{{ rtyp }};{{ ttl }};{{ value }}"
{% else %}
"{{ fqdn }};;{{ rtyp }};{{ ttl }};{{ value }}",
{% endif %}
{% endfor %}]
}


